.parentContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  width: 75vw;
}

.item-container {
  display: flex;
  align-items: center;
}

ol {
  margin-left: 20px;
}

.completedTask {
  text-decoration: line-through;
}

.completeBtn {
  color: #ff69b4;
  border: 1px solid #ff69b4;
  background-color: white;
  padding: 2px;
  border-radius: 5px;
}

.del {
  float: right;
}
