<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
  rel="stylesheet"
/>
<body>
  <div class="parentContainer">
    <h1 class="todoTitle">ToDo List</h1>
    <p class="storage">A place to store your Todo's</p>
    <form action="">
      <input
        [(ngModel)]="filterTasks"
        type="text"
        name="filter"
        placeholder="Filter your To-do's"
      />
    </form>
    <ol>
      <!--*ngFor="let tasks of todo | todo: filterTasks"-->
      <li *ngFor="let tasks of todo; index as i">
        <div class="item-container">
          <button
            (click)="completedTask(tasks)"
            *ngIf="!tasks.completed"
            class="completeBtn"
          >
            Completed
          </button>
          <p [ngClass]="{ completedTask: tasks.completed }">
            {{ tasks.task }}
          </p>
          <button (click)="removeTask(tasks)" class="del">
            X
          </button>
        </div>
      </li>
    </ol>
    <form action="">
      <input #newTask type="text" name="todo" placeholder="Add your to-do" />
      <button (click)="addTask(newTask.value)" class="add">Add</button>
    </form>
  </div>
</body>
